.swipperImg {
    width: 270px !important;
    height: 416px !important;
    transform: translate3d(-120px, 0px, 0px) !important;
}

.swipperImgTitle {
    position: relative;
    bottom: 50px;
    margin-left:12px;
    font-weight: 600;
    font-size: 25px;
}